*{
	margin:0;
	padding: 0 ;
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
	/*color: #abaeb0;*/
	
}
p{
	color:#777777;
}
.container{
	width:1170px;
	margin:0 auto;
}
.btn{

	background-color: #ffcb0f;
	height: 35px;
	width: 138px;
	border-radius: 4px;
	display: inline-block;
	margin: 50px 35px;
	text-transform: uppercase;
	padding: 7px;
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
.btn:hover {
	background-color: #41ae39;
	transition-duration: 1s;
	height: 40px;
	width: 145px;
	padding: 10px;
	cursor: pointer;
	transform: scale(1) rotate(2deg) translate(50px);
}
/*start header section here*/
.header-top{
	height: 44px;
	background-color: #ffcb0f;
}
.contact-info{
	display:flex;
	flex-direction: row;
	justify-content:space-between;
	flex-wrap: nowrap;
	padding-top: 5px;
}
.contact-info ul{
	display: flex;
	list-style-type: none;
	color: #000;
}
.contact-info ul li{
	font-size: 15px;
	padding: 5px;
	padding-right: 25px;
}
.contact-info ul li a{
	color: #000;
	text-decoration: none;
}

.contact-info ul .fa{
	margin-right: 5px;
}
.contact-info .social-icon a{
	color: #000;
}
.contact-info .social-icon a:hover i{
	color: #fff;
}

.contact-info .social-icon a .fa{
	padding: 5px;
}

/*start navigation here*/
.navigation{
	height: 92px;
	background-color: #222533;
}
.navigation .container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: nowrap;
}
#logo{
	padding-top: 28px;
}

.navigation nav ul{
	display: flex;
}
.navigation nav ul li{
	list-style-type: none;
	padding: 40px 33px 0px 0px;
}
.navigation nav ul li a{
	color: #fff;
	text-decoration: none;
}
.navigation nav ul li.active a,
.navigation nav ul li:hover a{
	color:#ffcb0f;
}


.fa-search{
	
	padding: 44px 0px 0px 0px;
	color: #fff;
}
.fa-search:hover  {
	color: #ffcb0f;
}

/*end navigation here*/
/*end header section here*/



/*start banner section here*/

#slider{
	height: 740px;
	text-align: center;
	background-image: url(img/banner.jpg);
	background-position: center center;
	-webkit-background-size: cover;
	/*! background-size: cover; */
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
}
#particles-js{
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	position: absolute;
	z-index: -1;
}
#slider::before {
	content: "";
	position: absolute;
	height: 740px;
	width: 100%;
	background-color: #000;
	left: 0px;
	opacity: 0.5;
	z-index: -1;
}
#slider .slider-contents{

	color: #fff;
}
#slider .slider-contents h5{

	font-size: 40px;
	padding-top: 120px;
	padding-bottom: 10px;
}
#slider .slider-contents h1{

	font-size: 70px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 63px;
}
#slider .slider-contents h1 span{

	color: #ffcb0f;
}
#slider .slider-contents p{

	font-size: 19px;
	padding: 10px;
}


/*end banner section here*/

/*start company section here*/
#company{

	height: 440px;
}
#company .company-content{

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
#company .left{

	height: 440px;
	width: 50%;
}
#company .left h1{

	font-size: 40px;
	font-weight: bold;
	padding-top: 47px;
	color: #ffcb0f;
}
#company .left h5{

	font-size: 26px;
}
#company .left p{
	
	font-size: 15px;
	display: inline-block;
	margin: 33px 0px;
}
#company .left .btn{
	margin:0px;
	padding-left: 21px;
}
#company .right{
	
	height: 440px;
	width: 50%;
	background-image: url(img/img-1.png) , url(img/img-2.png);
	background-repeat: no-repeat, no-repeat;
	-webkit-background-size: cover;
	background-size: 240px,contain;
	background-position: top, center;
}	

/*end company section here*/

/*start choose-us section here*/
#choose-us{
	height: 541px;
	background-color: #f2f7fa;
	text-align:center;
}
#choose-us h2{
	font-size: 30px;
	font-weight: bold;
	padding-top: 57px;
	padding-bottom: 30px;
}
#choose-us .content-box p{
	font-size: 15px;
	padding:10px;
}
#choose-us .us-content{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}
#choose-us .content-box{
	height: 250px;
	width: 143px;
	margin:10px auto;
	margin-top: 50px;
	margin-bottom: 60px;
}
#choose-us .content-box .fa{
	height: 118px;
	width: 118px;
	padding:32px;
	border:1px solid #fff;
	border-radius: 50%;
	font-size: 49px;
	box-shadow: 0 0 0 10px #ffcb0f, 0 0 0 20px #fadb64, 0 0 0 30px #f7e59c;
				
	background-color: #fff;
}

#choose-us .content-box h4{
	font-size: 15px;
	font-weight: bold;
	padding:50px 0 0 0;
}
#choose-us .content-box p{
	font-size: 10px;
	padding:3px;
	text-align: justify;
}
/*end choose-us section here*/

/*start services section here*/
#services{

	height: 725px;
	text-align: center;
}
#services h2{

	font-size: 30px;
	font-weight: bold;
	padding-top: 57px;
	padding-bottom: 30px;
}
#services .services-box{

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
#services .boxes{

	height: 530px;
	width: 33.333%;
}
#services .boxes img{
	height: 260px;
	width: 365px;
	padding: 10px 0px;
}

#services .boxes h4{

	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	text-transform: uppercase;
	text-align: left;
}
#services .boxes p{

	font-size: 15px;
	text-align: left;
	padding: 10px;
}
#services .boxes .btn {
	float: left;
	margin-left: 9px;
	margin-top: 15px;
}
/*end services section here*/

/*start made section here*/
#made{
	height: 787px;
	text-align: center;
	background-image: url(img/bg-made.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
}
#made::before {
	content: "";
	height: 920px;
	width: 100%;
	position: absolute;
	background-color: #ffcb0f;
	left: 0px;
	opacity: 0.7;
	z-index: -1;
}
#made h2{
	font-size: 30px;
	font-weight: bold;
	padding-top: 57px;
	padding-bottom: 30px;
	text-transform: uppercase;
	color: #fff;
}
#made p{
	font-size: 15px;
	padding:0px 10px;
	color: #fff;
}
#made ul{
	list-style-type: none;
	display: flex;
	justify-content: center;
	padding: 46px 0px;
}
#made ul li a{
	font-size: 15px;
	text-decoration: none;
	padding:10px;
	
	text-transform: uppercase;
	color: #fff;
}
#made ul li:hover a{
	color: #d9ec07;
	background-color: #1c201c;
	transition-duration: 1s;
	border-radius: 30px;

}
#made .made-content{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}
#made .made-content .content-box {
	height:500px;
	width: 50%;
}
#made .made-content .content-box:last-child{
	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}
#made .mini-content-box {
	height: 250px;
	width: 50%;
	/*! margin:5px; */
}
#made .mini-content-box img{
	height: 199px;
	width: 98%;
}


/*end made section here*/

/*start customar section here*/
#customar{

	height: 738px;
	width: 100%;
	background-image: url(img/costomar-bg.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
	text-align: center;
}
#customar::before{
	content: "";
	height: 168px;
	width: 100%;
	position: absolute;
	background-color: #ffcb0f;
	opacity: 0.8;
	z-index: -1;
	left: 0;
	top: 563px;
}
#customar h2{

	font-size: 30px;
	font-weight: bold;
	padding: 57px 0px 30px;
}
#customar p{

	font-size: 15px;
	padding: 10px;
}
#customar .cust-flex-box{

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-top: 53px;
	justify-content: space-between;
}
.cust-flex-box .box{

	height: 335px;
	width: 305px;
	padding: 10px;
}
.cust-flex-box .box p:hover {
	background-color: yellow;
}

.cust-flex-box .box p{

	font-size: 14px;
	background-color: #e5e5e5;
	border-radius: 10px;
	margin-bottom: 20px;
	text-align: justify;
	margin-top: 10px;
	border:1px solid #e5e5e5;
	position: relative;
}
.cust-flex-box .box p::after {
	position: absolute;
	height: 30px;
	width: 30px;
	top: 100%;
	left: 50%;
	content: "";
	margin-left: -25px;
	transform: rotate(45deg);
	margin-top: -15px;
	background: #e5e5e5;
	border-top: 0px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	border-left: 0px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
.cust-flex-box .box p:hover:after {
	position: absolute;
	height: 30px;
	width: 30px;
	top: 100%;
	left: 50%;
	content: "";
	margin-left: -25px;
	transform: rotate(45deg);
	margin-top: -15px;
	background: #e5e5e5;
	border-top: 0px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	border-left: 0px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	background-color: yellow;
}

.cust-flex-box .sms{
	height: 185px;
	width: 300px;
	background-color: #ffcb0f ;
	/*! color: #fff; */
	margin-top: -5px !important;

}

.cust-flex-box .box img{

	margin-top: 10px;
	margin-left: -9px;
}
.cust-flex-box .box h5{
	
}

/*end customar section here*/

/*start contact form here*/
 .row .col-md-6 {
	text-align: justify;
}
.col-md-6 .cont-txt{
	margin-top: -20px;
}
.col-md-6 .input1{
	margin-top: 16px;
}
.col-md-6 input[type="text"]{

	height: 34px;
	width: 45%;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	border: none;
}
.col-md-6 input[type="email"]{

	width: 45%;
	height: 34px;
	padding: 10px;
	border: none;
	border-radius: 5px;
}
.col-md-6 .input2 input[type="text"]{

	height: 34px;
	width: 70%;
	padding: 9px;
	margin: 10px;
	border-radius: 5px;
	border: none;
}

.col-md-6 input[type="submit"]{

	height: 34px;
	width: 20%;
	border: none;
	border-radius: 5px;
	padding: 6px;
	background-color: gray;
}
.col-md-6 input[type="submit"]:hover{
	background-color: #2fda4d;
}

.contact-bottom {
	height: 30px;
	margin-bottom: 0px;
	width: 100%;
	background-color: gray;
}

/*end contact form here*/

/*start footer section here*/
#footer{
	height: 314px;
	width: 100%;
	background-image: url(img/bg-footer.jpg);
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	color:#fff;
}
#footer .footer-content{
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
#footer .footer-content .content-box{
	/*! margin: 80px 20px; */

	width: 25%;
}
#footer .footer-content .content-box h4{

	font-size: 20px;
	padding: 20px 0px;
	font-weight: bold;
}
#footer .footer-content .content-box img{

	width: 60%;
	height: 40px;
}
#footer .footer-content .content-box p{

	font-size: 13px;
	color: #fff;
	padding: 10px 0px;
	line-height: 20px;
}
#footer .footer-content .content-box .icon{}
#footer .footer-content .content-box .icon .fa{
	height: 35px;
	width: 35px;
	background-color: #ffcb0f;
	padding: 10px;
	font-size: 15px;
	border-radius: 50%;
	margin: 2px;
	text-align: center;
	color: #000;
}

#footer .footer-bottom{

	height: 70px;
	background-color: #1a1c27;
	text-align: center;
	padding: 25px;
	font-size: 15px;
	margin-top: 28px;
	width: 100%;
}
#footer .footer-bottom span{
	color: #ffcb0f;
}


/*end footer section here*/
