/*header section here*/
body{

	overflow-x: hidden;
}
header{

	background-image: url(asset/img/banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 800px;
	width: 100%;
	position: relative;
	z-index: 1;
	margin-top: 0px;
	padding: 0;
}
header::before{
	content: "";
	height: 106px;
	width: 100%;
	background-color: #5a4a40;
	opacity: .6;

	position: absolute;
	z-index: -1;
}
.navigation{

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	/*! justify-content: space-between; */
	height: 100px;
	z-index: 1000;
}
.navigation img{
	padding-top: 22px;
}
.navbar-dark .navbar-nav .nav-link {
	color: #fff;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
	color: #e28f25;
}
.navbar-dark .navbar-toggler {
	color: rgba(255,255,255,.5);
	 border-color: rgba(255,255,255,.1);
	 border-color: transparent;
}
.header-icon a {
	padding: 10px;
	color: #fff;
}
.header-icon {
	display: flex;
	align-items: center;
}
.header-icon .fa:hover {
	color:  #e28f25;
}
.fa.fa-search {
	padding-left: 50px;
}
.banner{
	color: white;
	
}
.banner .banner-area{
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner h1{
	margin-top: 80px;
	font-size: 60px;
}
.banner h2{

	font-size: 30px;
}
.banner p{

	margin-top: 40px;
}
/*header{

	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
}
.bg-dark{
	position: relative;
	z-index: 1;
	background-color: rgba(202, 147, 147, 0.5) !important;

}*/
/*.bg-dark:after{
	content: "";
	position: absolute;
	z-index: -1;
	background-color: #927b7b;
	opacity: .3;
	height: 100%;
	width: 100%;
	margin-left: -16px;
}*/
/* end header section here*/


/*start banner section here*/
/*.banner{
	background-image: url(asset/img/banner.jpg);
	background-position: 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	height: 723px;
	width: 100%;
	
}
.banner .banner-area{
	display: flex;
	justify-content: center;
	color: #fff;
	align-items: center;
	margin-top: 200px;
}

.banner .banner-txt{
	
}
.banner.col-md-12 h1,h2{

}
*/
/*end banner section here*/

/*start member section herer*/
#music audio {
	width: 100%;
	height: 64px;
}
#music .img-fluid {
	width: 104px;
	height: 90px;
}
#member{

	height: 200px;
	background-color: #e28f25;
}
 #member .member-content-area {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}
#member .member-content{

	text-align: center;
}
#member .member-content h3{

}
#member .member-content button {

	background-color: transparent;
}
/*end member section herer*/


/*start upcoming section here*/
#upcoming-event{

}
#upcoming-event h3{
	margin-top: 5rem;
	text-align: center;
	margin-bottom: 0px;
}
#upcoming-event h3 span{
	color:#ffae00;
}
.event-hedding{
	text-align: center;
	padding: 20px 0;
}

.event-hedding .sign{
	/*! margin-top: 10px; */
	margin-left: -5px;
	margin-right: -5px;

}
.event-hedding div::before,
.event-hedding div::after
{
	content: "";
	height: 2px;
	width: 76px;
	background-color: #dc8207;
	display: inline-block;
	margin: 4px 0;
}

#upcoming-event .event-content-area{

	/*border: 1px solid #bfb7b7;*/
	outline: 1px solid #000;
}
#upcoming-event .event-content-area .image-1{
	background-image: url(asset/img/image-1.jpg);
	background-position: 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	height: 370px;
	width: 570px;
}

#upcoming-event .event-txt-content{

	padding: 10px;
}
#upcoming-event .event-txt-content p{
	font-size: 14px;
}





/*end upcoming section here*/


/*start blog section here*/
#blog{
	background-image: url(asset/img/blog-bg.jpg);
	background-position: 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 60px 0;
	margin-top: 48px;
	text-align: center;
	position: relative;
	z-index: 1;
}
#blog::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #000;
	opacity: .6;
	left: 0;
	top: 0px;
}

img {
	max-width: 100%;
}


#blog .blog-hedding h3{
	color: #fff;
}
#blog .blog-hedding span{
	color:#df9829;
}

#blog .blog-content{
	margin-top: 40px;
}

#blog .blog-content .item2{
	border: 1px solid yellow;
}

.blog-items {
	position: relative;
	height: 250px;
	width: 100%;
	overflow: hidden;

	margin-bottom: 15px;
}

.blog-items img, .blog-items  {
	-webkit-transition: 1s;
}

.blog-items:hover img{
	opacity: 0;
} 
 
 .blog-items:hover .btn {
 	background-color: #e38228;
 }


.blog-items:hover {
	outline: 1px solid #ffc107 !important;
	box-sizing: border-box;
}

.blog-caption {
	position: absolute;
	top: 40px;
	color: #fff;
	left: 0;
	z-index: 999;
}

.blog-caption h4{
	text-transform: uppercase;
	margin: 0px;
}

.blog-caption p{
	font-size: 13px;
}

/*end blog section here */

/*start about section here */
#about {
	padding:60px 0;
}
.about-hedding{
	text-align: center;
	padding:20px 0;
}
.about-hedding h3{
	margin-bottom: 0;
}

.about-hedding .sign{

	/*! margin-top: 10px; */
	margin-left: -5px;
	margin-right: -5px;
}
.btn {
	border-radius: 0rem;
}
.about-hedding div::before,
.about-hedding div::after
{
	content: "";
	height: 2px;
	width: 76px;
	background-color: #df9918;
	display: inline-block;
	margin: 4px 0;
}
#about .about-content img{
	float: left;
	-webkit-shape-outside: polygon(
		24% 48%, 28% 0%, 
		74% 57%, 530% 485%, 39% 45%);
	-moz-shape-outside: polygon(
		24% 48%, 28% 0%, 
		74% 57%, 530% 485%, 39% 45%);
	/*clip-path: polygon(
		24% 48%, 28% 0%, 
		74% 57%, 530% 485%, 39% 45%);*/
	width: 300px;
	height: 600px;
	margin-right: 15px;
}

/*end about section here */


/*start footer section here */
#footer{
	background-image: url(asset/img/footer-bg.jpg);
	background-position: 50% 50%;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 60px 0;
	margin-top: 48px;
	position: relative;
	z-index: 1;
	color: #fff;
}
#footer::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: #000;
	opacity: .6;
	left: 0;
	top: 0px;
}

#footer .footer-top{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.sociel-con {
	/*! margin: 30px; */
	display: flex;
	/*! justify-content: center; */
}
.sociel-con a{
	margin:10px;
	padding:15px;
	border-radius: 50%;
	border:1px solid #fff;
	color: #fff;
	height: 50px;
	width: 50px;
}
.sociel-con a:hover{
	color: #bb8614;
	border: 1px solid #bb8614;
}
.footer-left{
	font-size: 13px;
	border-top: 1px solid #e28f25;
	border-right: 1px solid #e28f25;
	border-bottom: 1px solid #e28f25;
	height: 400px;
}
.footer-left li{
	list-style-type: none;
}
.footer-left li i{
	padding: 5px;
}
#footer .footer-left ul {
	padding: 0;
}
.footer-mid{
	font-size: 13px;
	border-top: 1px solid #e28f25;
	border-bottom: 1px solid #e28f25;
	height: 400px;
}
.footer-mid ul li{
	list-style: none;
}
.footer-mid ul li::before{
	content: "\f054";
    font-family: FontAwesome;
	color: #fff;
	margin-right: 10px;
	font-size: 10px;
}
.footer-mid ul {
	padding-left: 15px;
}
.footer-mid ul .nested li::before{
	content: "\f0da";
    font-family: FontAwesome;
}

.footer-mid ul li a{
	text-decoration: none;
	color: #fff;
}
.footer-mid ul li a:hover{
	color: orange;
}

.footer-right{
	font-size: 13px;
	border-top: 1px solid #e28f25;
	border-left: 1px solid #e28f25;
	border-bottom: 1px solid #e28f25;
	height: 400px;
}
#footer h4{
	margin-top: 27px;
	color: #c17b1d;
	padding: 5px;
}
#footer-bottom{
	height: 100px;
	width: 100%;
	background-color: #e28f25;
}
#footer-bottom p{
	font-size: 13px;
	padding-top: 46px;
	color: #fff;
}
/*end footer section here */

/* Scroll To Top */

.scroll-to-top {
    background-color: #4c9cef;
    display: none;
    width: 60px;
    height: 60px;
    font-size: 25px;
	border-radius: 100%;
    line-height: 67px;
    text-align: center;
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 30px;
    z-index: 999;
    box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
    transition: all 0.3s ease-in-out;
}

.scroll-to-top:hover,
.scroll-to-top:focus {
    background-color: #f7639a;
    color: #ffffff;
    box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
}


/*ScrollTop*/
#toTop{
	position: fixed;
	bottom: 80px;
	right: 50px;
	cursor:pointer;
	z-index: 99999;
	height: 50px;
	width: 50px;
}
#toTop:hover{
	height: 60px;
	width: 60px;
}