*{
	margin:0;
	/*! padding: 0; */
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
/*start header here*/
.navigation{
	display: flex;
	height: 90px;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 10px;
}
#logo{
	font-size: 30px;
	padding:20px;
	/*! text-decoration: none; */
	margin-left: 20px;
}
#logo a{
	text-decoration: none;
}

.navigation nav ul{
	display: flex;
	list-style-type: none;
	padding: 10px;
	margin-right: 58px;
}
.navigation nav ul li a{
	padding: 20px;
	margin-top: 5px;
	display: block;
	text-decoration: none;
}
nav ul li.active a,
nav ul li:hover a {
    text-decoration: underline;
}

/*end header here*/

/*start banner here*/
#banner{
	height: 550px;
	background-image: url(../img/banner-1.jpg);
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
}
#banner::before{
	content:"";
	position: absolute;
	height: 550px;
	width: 1263px;
	background-color: #dec9c9;
	z-index: -1;
	opacity: 0.2;
}
#banner .banner{
	text-align: center;
}
#banner .banner h1{
	font-size: 42px;
	padding-top: 178px;
}
#banner .banner p{
	font-size: 10px;
	padding: 10px;
}

#banner .banner a{
	text-align: center;
	background-color: #4D4D4D;
	border-radius: 27px;
	color: white;
	text-decoration: none;
	padding:5px 64px;
	font-size: 15px;
	text-transform: uppercase;
	transition-duration: 1s;
}
#banner .banner a:hover{
	background-color: white;
	color: black;
	border: 2px solid black;
}



/*end banner here*/

/*start services here*/
.services-box1{
	height: 350px;
	width: 330px;
	float: left;
	text-align: center;
	margin: 10px;
	padding: 5px;
	margin-left: 31px;
}
.services-box1 img{
	padding: 10px;
	font-size: 30px;
}
.services-box1 h2{
	padding: 10px;
	font-weight: bold;
}
.services-box1 p{
	padding: 10px;
	font-size: 15px;
}
hr {
	clear: both;
	color: #f7f4fb;
}

/*end services here*/

/*strat video section here*/
#video {
	text-align: center;
	height: 525px;
}
#video .video-content{
	height: 500px;
	position: relative;
}
#video .video-content h2{
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	margin-top: 20px;
}
#video .video-content p{
	font-size: 10px;
	padding: 10px;
	position:relative;
	z-index: 1;
}
#video img:only-of-type{
	height: 300px;
	width: 560px;	
	padding: 10px;
}
#video .video-content::before{
	content:"";
	position: absolute;
	height: 280px;
	width: 540px;
	background-color: #ee4e4e;
	opacity:0.5;
	z-index: 0;
	left: 315px;
	top: 107px;
}

#video .video-icon img{
	position: absolute;
	height: 80px;
	width: 80px;
	left: 552px;
	top: 208px;
	padding: 0px;
	border-radius: 50%;
}
#video .video-icon img:hover{
	background-color: gray;
}

/*end video section here*/

/*start work section here*/
#work{
	height: 400px;
}
#work h2{
	padding: 20px;
	font-size: 20px;
	text-align: center;
}
#work .work-box{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#work .boxes{
	height: 250px;
	width: 200px;
	background-color: #EDEDED;
	margin-left: 20px;
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition-duration: 1s;
}
#work .boxes a{
	color: #a69c9c;
}

#work .boxes:hover .child-box{
	height: 50px;
	width: 200px;
	background-color: gray;
	margin-left: 20px;
	margin-top: 210px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #a69c9c;
}
/*end work section here*/


/*start subcribe here*/
#subcriber{
	height: 200px;
	background-color: #EDEDED;
	text-align: center;
}
#subcriber h2{
	font-size: 30px;
	font-weight: bold;
	padding: 15px;
}
#subcriber p{
	font-size: 15px;
	padding: 10px;
	margin-top: -13px;
}
#subcriber a{
	padding: 4px;
	border-radius: 25px;
	border: 2px solid black;
	margin: 7px 456px;
	text-decoration: none;
	display: block;
	text-transform: uppercase;
	font-size: 15px;
	transition-duration: 1s;
}
#subcriber a:hover{
	background-color: gray;
	color: white;
}

/*end subcribe here*/
/*start footer here*/
.social-icon{
	height: 200px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.social-icon .fa{
	height: 50px;
	width:50px;
	border:1px solid black;
	padding:18px;
	margin-top: 80px;
	margin-right: 50px;
}
.social-icon .fa:hover{
	background-color: gray;
	color: white;
}
.location{
	background-color: #3b3b3b;
}
.location .container{
	display: flex;
	flex-direction: row;
	height: 200px;
	color: #ebe5e5;
	justify-content: center;
}
.location .location-content{
	height: 150px;
	width: 200px;
	margin-left: 50px;
	padding: 10px;
	margin-top: 40px;
}
.location .location-content h4{
	font-weight: bold;
	font-size: 20px;
	padding:10px;
}

.location .location-content ul{
	list-style-type: none;
	margin-left: -30px;
	display: inline-block;
}
.location .location-content ul li{
	color:white;
	font-size: 10px;
}
.location .location-content ul li a{
	color: white;
}
 .location-content:last-child{
	width: 344px;
}
/*end footer here*/